{% extends "app_barang/layout/base.html" %}

{% block content %}
{% if messages %}
      <div class="alert alert-info">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
<div class="container mt-4">
    <h3>Form Terima Barang</h3>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.nomor_terima.label_tag }} {{ form.nomor_terima }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.tanggal.label_tag }} {{ form.tanggal }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.nomor_po.label_tag }} {{ form.nomor_po }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.kode_barang.label_tag }} {{ form.kode_barang }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.pemasok.label_tag }} {{ form.pemasok }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.gudang.label_tag }} {{ form.gudang }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.qty_terima.label_tag }} {{ form.qty_terima }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
</div>
{% endblock %}



{% block extra_js %}
<script>
    const poField = document.getElementById('id_nomor_po');
    const kodeBarangField = document.getElementById('id_kode_barang');
    const gudangField = document.getElementById('id_gudang');
    const pemasokField = document.getElementById('id_pemasok');
    const qtyTerimaField = document.getElementById('id_qty_terima');

    let maxQty = 0; // Simpan qty_po dari backend

    poField.addEventListener('change', function () {
        const poId = poField.value;

        if (poId) {
            fetch(`/get-barang-by-po/?po_id=${poId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.data.length > 0) {
                        const barang = data.data[0];
                        kodeBarangField.value = barang.kode_barang;
                        gudangField.value = barang.gudang;
                        pemasokField.value = barang.pemasok;
                        maxQty = barang.qty_po || 0;
                        qtyTerimaField.setAttribute('max', maxQty);
                        qtyTerimaField.setAttribute('min', 0);
                    } else {
                        kodeBarangField.value = '';
                        gudangField.value = '';
                        pemasokField.value = '';
                        qtyTerimaField.setAttribute('min', 0);
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }
    });

  
</script>

{% endblock extra_js %}